@charset "utf-8";

// 这里定义仅用在当前应用中的样式，但页面特有的样式不要定义在这里

// inject:page:scss
//here import other app  scss files, for example _layout
@import "../components/layout/header.scss";
@import "../components/layout/footer.scss";
@import "../components/layout/layout.scss";
@import "../components/layout/loading.scss";
@import "../components/unit/csSearchDropbox/csSearchDropbox.scss";
@import "../components/unit/csSysinfoChart/csSysinfoChart.scss";
@import "../components/unit/csLatestLogs/csLatestLogs.scss";
@import "../login/login.scss";
@import "../settings/setting-header.scss";
@import "../settings/logs/logs.scss";
@import "../settings/general/general.scss";
@import "../settings/license/license.scss";
@import "../dashboard/dashboard.scss";

// endinject
