@charset "utf-8";
@import "variables";
// 这里放具有通用价值的样式
// Rotated
@mixin icon-rotate($degrees, $rotation) {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=#{$rotation});
  -webkit-transform: rotate($degrees);
      -ms-transform: rotate($degrees);
          transform: rotate($degrees);
}

@mixin icon-flip($horiz, $vert, $rotation) {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=#{$rotation});
  -webkit-transform: scale($horiz, $vert);
      -ms-transform: scale($horiz, $vert);
          transform: scale($horiz, $vert);
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
/*  position: relative;*/
  height:100%;
  padding: 0;
  margin:0;
  background-color: $bodyCol;
}
html {
   height:100%;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 1300px) {
  .container {
    max-width: 1280px;
    width: 1250px;
    height: 100%;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

// Animated Icons
// --------------------------
.icon-spin {
  -webkit-animation: icon-spin 2s infinite linear;
          animation: icon-spin 2s infinite linear;
}

.icon-pulse {
  -webkit-animation: icon-spin 1s infinite steps(8);
          animation: icon-spin 1s infinite steps(8);
}

@-webkit-keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}


.icon {
  display: inline-block;
}

// Sizes
.icon-fw {
  width: (18em/14);
  text-align: center;
}

.icon-sm {
  font-size: (1em*0.8);
}

.icon-lg {
  font-size: (4em / 3);
  line-height: (3em / 4);
  vertical-align: -15%;
}
.icon-2x { font-size: 2em; }
.icon-3x { font-size: 3em; }
.icon-4x { font-size: 4em; }
.icon-5x { font-size: 5em; }

// Stacked
.icon-stack {
  position: relative;
  display: inline-block;
  /*width: 2em;*/
  height: 2em;
  line-height: 2em;
  padding-top: 6px;
  vertical-align: middle;
}
.icon-stack-1x, .icon-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}
.icon-stack-1x { line-height: inherit; }
.icon-stack-2x { font-size: 2em; }
.icon-inverse { color: $icon-inverse; }

// List
.icon-ul {
  padding-left: 0;
  margin-left: $icon-li-width;
  list-style-type: none;
  > li { position: relative; }
}

.icon-li {
  position: absolute;
  left: -$icon-li-width;
  width: $icon-li-width;
  top: (2em / 14);
  text-align: center;
  &.icon-lg {
    left: -$icon-li-width + (4em / 14);
  }
}

.icon-rotate-90  { @include icon-rotate(90deg, 1);  }
.icon-rotate-180 { @include icon-rotate(180deg, 2); }
.icon-rotate-270 { @include icon-rotate(270deg, 3); }
.icon-flip-horizontal { @include icon-flip(-1, 1, 0); }
.icon-flip-vertical   { @include icon-flip(1, -1, 2); }

.faded {
  color: $midGray;
}

.r-p30{
    padding-bottom: 30px;
}

cs-image-menu{
    position: absolute;
    background-color: white;
    z-index: -1;
    display: none;
    > ul {
      display: block !important;
       a:hover {
          background-color: $bgHighlight !important;  
          color:white  !important;  
        }
    }
     .copy-namespace-list{
          position: relative;
          > ul {
              display: none;
              position: absolute;
              left: -100% ;
              top:-2px;
          }
          &:hover ul{display: block;}
      }
}

table.cs-table-small {
    width: 100%;
    line-height: 42px;
    > thead {
        line-height: 35px;
        background-color: $bodyCol;
        border: 1px solid $bodyCol;
        color: gray;
        th {
            padding-left: 10px;
        }
    }
    > tbody {
        border: 1px solid $bodyCol;
         td {
            border-top: 1px solid $bodyCol;
            padding-left: 10px;
            > .operation > span {
                  color: gray;
              }
        }
    }
}