<section class="well setting-well">
<!-- <div class="container"> -->
    <table class="logs-filter table table-hover ">
        <thead>
            <th width="24%">
                Filter by level
            </th>
            <th width="25%">
                Filter by time
            </th>           
             <th width="2%"></th>
            <th width="25%"> </th>
            <th width="24%"></th>
        </thead>
        <tbody>
            <tr>
                <td><select class="form-control" ng-model="vm.level">
                    <option></option>
                    <option value="info">INFO</option>
                    <option value="warning">WARNING</option>
                    <option value="error">ERROR</option>
                </select></td>
                <td>
                    <p class="input-group">
                      <input type="text" class="form-control" uib-datepicker-popup="{{vm.format}}" ng-model="vm.calendarStart"
                             is-open="vm.openedStart" min-date="vm.minDate" uib-max-date="vm.maxDate" datepicker-options="vm.dateOptions"
                             date-disabled="vm.disabled(date, mode)" ng-required="true" close-text="close"/>
                        <span class="input-group-btn">
                          <button type="button" class="btn btn-default" ng-click="vm.openStart($event)"><i
                              class="glyphicon glyphicon-calendar"></i>
                          </button>
                        </span>
                    </p>
                </td>
                <td>
                    <span class="glyphicon glyphicon-minus"></span>
                </td>
                <td>
                    <p class="input-group">
                      <input type="text" class="form-control" uib-datepicker-popup="{{vm.format}}" ng-model="vm.calendarEnd"
                             is-open="vm.openedEnd" min-date="vm.minDate" max-date="vm.maxDate" datepicker-options="vm.dateOptions"
                             date-disabled="vm.disabled(date, mode)" ng-required="true" close-text="close"/>
                        <span class="input-group-btn">
                          <button type="button" class="btn btn-default" ng-click="vm.openEnd($event)"><i
                              class="glyphicon glyphicon-calendar"></i>
                          </button>
                        </span>
                    </p>
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>
<!-- <ul>
      <li ng-repeat="log in vm.logs  | filter: {level: vm.level} | logsSort:vm.calendarStart:vm.calendarEnd">
        <div class="head">
            <span class="glyphicon glyphicon-time"></span>{{log.time}}
            <span ng-class="log.level" class="pull-right">{{log.level}}</span>
        </div>
        <div class="detail"> {{log.detail}}</div>
    </li>
</ul>      -->
<table class="table-hover cs-table-small cs-table " >
    <thead>
          <th  width="30%">时间</th>
          <th  width="15%">级别</th>
          <th  width="55%">信息</th>
    </thead>
    <tbody>
          <tr ng-repeat="log in vm.logs  | filter: {level: vm.level} | logsSort:vm.calendarStart:vm.calendarEnd">
              <td>{{log.time}}</td>
              <td>{{log.level}}</td>
              <td>{{log.detail}}</td>
          </tr>
    </tbody>
  </table>  
<!-- </div> -->
</section> 