<ul class="dropdown-menu" >
   <li ng-click="vm.moreInfo(image,version)" ng-if="type == 'image'"><a  a href="#">更多</a></li>
   <li ngclipboard data-clipboard-text="docker pull {{image._id}}:{{version.tag_name}}" ng-if="type == 'image'"><a href="#" >拉取镜像</a>

   </li>
   <li class="copy-namespace-list" ng-if="type == 'image'"><a href="#" >复制镜像</a>
              <ul class="dropdown-menu">
                    <li ng-repeat="namespace in namespaces" ng-click="vm.copyImage(namespace,image,version)"><a href="#" >{{namespace}}</a></li>
              </ul>
   </li>
   <li ng-click="vm.removeVersion()"><a href="#" >删除此版本</a></li>
   <li ng-click="vm.removeImage()"><a href="#" >删除镜像</a></li>
</ul>
