.addUserGroup{
    text-align:right;
    padding-right: 20px;
}
.userGroupTable{
    margin-top: 30px;
}
table td {
    height: 60px;
    border-bottom: 1px solid #ddd;
}

table th {
    color: #999999;
    background-color: #F7F7F7;
}

.userContent{
    width: 100%;
    min-height: 300px;
    border: solid 1px #cccccc;
    overflow:auto;
}
.userEntity{
    float: left;
    margin: 5px;
    padding: 5px;
    background: #F2F2F2;
}

.ngdialog-content{
    width: 800px !important;
    height: 600px;
}


.page-list .pagination {float:left;}
.page-list .pagination span {cursor: pointer;}
.page-list .pagination .separate span{cursor: default; border-top:none;border-bottom:none;}
.page-list .pagination .separate span:hover {background: none;}
.page-list .page-total {float:left; margin: 25px 20px;}
.page-list .page-total input, .page-list .page-total select{height: 26px; border: 1px solid #ddd;}
.page-list .page-total input {width: 40px; padding-left:3px;}
.page-list .page-total select {width: 50px;}
