layout-footer {
  footer {
    /*border-top:0;*/
    text-align: center;
    margin-top: $padding-large-horizontal;
    padding-top: $padding-small-vertical;
    /*border-top: 1px solid $gray-lighter;*/
    color:gray;
  }
}
