<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
      <a class="navbar-brand" href=""><img ng-src="/icons/appsoar.svg" alt="RegistryUI" ></a>
    </div>
    <div class="collapse navbar-collapse" id="js-navbar-collapse" >
      <ul class="nav navbar-nav">
        <li ng-class="{active:path[1]=='dashboard'}"><a ui-sref="home.dashboard"> DASHBOARD</a></li>
        <li ng-class="{active:path[1]=='images'}" ><a ui-sref="home.images.imagelist">IMAGES</a></li>
        <li ng-class="{active:path[1]=='users'}"><a ui-sref="home.users">USERS</a></li>
        <li ng-class="{active:path[1]=='settings'}"><a ui-sref="home.settings.general">SETTINGS</a></li>
        <!-- <li cs-nav-select=""><a ui-sref="home.logs">Logs</a></li> -->
      </ul>
      <!-- <ul class="nav navbar-nav navbar-right"> -->
        
      <!-- </ul> -->
      <ul class="nav navbar-nav navbar-right">
        <form class="navbar-form navbar-left " role="search">
           <div class="form-group  dropdown">
              <span class="glyphicon glyphicon-search"></span>
              <input type="text" placeholder="" ng-model="vm.keyword" ng-change="vm.search() " ng-blur="vm.blur()" ng-focus="vm.focus()">
              <cs-search-dropbox repositories="vm.repositories" ng-if=" vm.keyword && vm.stay" keyword="vm.keyword"></cs-search-dropbox>
           </div>
        </form>
        <!-- <li ><a ui-sref="home.settings.logs"> <b class="glyphicon glyphicon-bell navbar-left"></b>&nbsp message</a></li> -->
        <li class="dropdown ">
          <a  class="dropdown-toggle" data-toggle="dropdown">
             <!-- <b class="caret"></b> -->
             <b class="glyphicon glyphicon-user"></b>
             <tt ng-bind="vm.currentUser"></tt>
          </a>
          <ul class="dropdown-menu">
             <li><a href="#">Change Password</a></li>
             <li><a href="#">API Docs</a></li>
             <li><a href="#">Help Docs</a></li>
             <li class="divider"></li>
             <li ng-click="vm.logout()"><a>Logout</a></li>
          </ul>
       </li>
      </ul>
    </div>
  </div>
</nav>
<nav class="navbar  navbar-level-2" role="navigation" ng-hide="path[1]=='dashboard'">
  <div class="container">
      <div class="collapse navbar-collapse" >
      <ul class="nav navbar-nav"  ng-if="path[1]=='settings'">
        <li ui-sref-active="active"><a ui-sref="home.settings.general">General</a></li>
        <li ui-sref-active="active"><a ui-sref="home.settings.storage">Storage</a></li>
        <li ui-sref-active="active"><a ui-sref="home.settings.logs">Logs</a></li>
        <li ui-sref-active="active"><a ui-sref="home.settings.license">License</a></li>
        <li ui-sref-active="active"><a ui-sref="home.settings.upgrade">Upgrade</a></li>
      </ul>
      <ul class="nav navbar-nav" ng-if="path[1]=='images'">
        <li ng-class="{active:path[2]=='list'}"><a ui-sref="home.images.imagelist">IMAGE LIST</a></li>
        <li ng-class="{active:path[2]=='namespace'}"><a ui-sref="home.images.namespace.list">命名空间</a></li>
      </ul>
      <ul class="nav navbar-nav" ng-if="path[1]=='users'">
        <li ui-sref-active="active"><a ui-sref="home.users.usergroup">User Group</a></li>
        <li ui-sref-active="active"><a ui-sref="home.users.user">User</a></li>
      </ul>
      </div>
  </div>
</nav>
