<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
      <a class="navbar-brand" href=""><img ng-src="/images/appsoar.svg" alt="RegistryUI" ></a>
    </div>
    <div class="collapse navbar-collapse" id="js-navbar-collapse" >
      <ul class="nav navbar-nav">
        <li class="" cs-nav-select=""><a ui-sref="home.dashboard"> Dashboard</a></li>
        <li cs-nav-select="" id="repositories"><a ui-sref="home.repositories">Repositories</a></li>
        <li cs-nav-select=""><a ui-sref="home.namespaces">Namespaces</a></li>
        <li cs-nav-select=""><a ui-sref="home.settings.accounts">Settings</a></li>
        <li cs-nav-select=""><a ui-sref="home.logs">Logs</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <form class="navbar-form navbar-left " role="search">
           <div class="form-group  dropdown">
              <span class="glyphicon glyphicon-search"></span>
              <input type="text" placeholder="" ng-model="vm.keyword" ng-change="vm.search() " ng-blur="vm.blur()" ng-focus="vm.focus()">
              <cs-search-dropbox repositories="vm.repositories" ng-if=" vm.keyword && vm.stay" keyword="vm.keyword"></cs-search-dropbox>
           </div>
        </form> 
        <li class="dropdown ">
          <a  class="dropdown-toggle" data-toggle="dropdown">
             <!-- <b class="caret"></b> -->
             <b class="glyphicon glyphicon-user"></b>
             <tt ng-bind="vm.currentUser"></tt>
          </a>
          <ul class="dropdown-menu">
             <li><a href="#">Support</a></li>
             <li><a href="#">API Docs</a></li>
             <li><a href="#">Docs</a></li>
             <li class="divider"></li>
             <li><a ui-sref="login">Logout</a></li>
          </ul>
       </li>
      </ul>
    </div>
  </div>
</nav>

