<!-- <div  class="loading-modal " ng-if="vm.rel"> -->
<div  class="loading-modal " ng-if="false">
        <div class="loading">loading</div>
</div>
<!-- <div id="loading-underlay" class="underlay"></div>
<div id="loading-overlay" class="loading-overlay">
<div  class="loading-modal loading">
    <div class="loader">
      <div class="orbit">
        <div class="sun"></div>
        <div class="moon"></div>
      </div>
      <div class="loadfield">
        <div class="grass"></div>
        <img class="cow" src="{{app.baseAssets}}assets/images/logos/main-loading.svg" />
      </div>
    </div>
</div> -->