@import "variables";
.version-detail {
    margin-bottom: 20px;
    > span:nth-child(1) {
        color: gray;
    }
    > span:nth-child(2) {
        margin-left: 20px;
    }
}

.pull-image-input{
    position: relative;
    input{
        border: 1px solid $bgDefault;
        border-radius: 0;
        color: $bgDefault;
    }
    > span {
        color: $bgDefault;
        position: absolute;
        right: 5px;
        top:5px;
        font-size: 25px;
        cursor: pointer;
    }
} 

.ta-editor {
    min-height: 300px;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
    margin:20px 0;
}