<div class="row">
        <div class="col-md-8" ng-controller="DashboardStatisticController">
                <div class="row well">
                    <ul class="nav nav-tabs">
                        <li ng-click="changeTab('0')" cs-navtag-sw class="active"><a> 描述</a></li>
                        <li ng-click="changeTab('1')" cs-navtag-sw><a>Dockerfile</a></li>
                        <li ng-click="changeTab('2')" cs-navtag-sw><a>构建历史</a></li>
                        <div class="nav-tags-bar"> </div>
                    </ul>
                     <div class="" ng-if="currentTab == 0">
                            <text-angular ng-model="tag.desc" ></text-angular>                            
                    </div>
                    <div class="" ng-if="currentTab == 1">
                          <pre ng-bind="tag.docker_file">
<!-- FROM java:8-jre

MAINTAINER Code Hz

ENV SCREEN_NAME MinecraftForgeServer
ENV MCSERVER_PATH /srv/minecraft
ENV MINECRAFT_VERSION 1.7.10
ENV MCFORGE_VERSION 10.13.4.1614-1.7.10
ENV MCFORGE_INSTALLER_JAR forge-installer.jar
ENV JAVA_XMX 1G
ENV JAVA_XMS 1G
ENV JAVA_PERMSIZE 455m
ENV MINECRAFT_EULA false
ENV DEFAULT_OP CodeHz
ENV GENERATOR_SETTINGS ""
ENV OP_PERMISSION_LEVEL 4

ENV ALLOW_NETHER true
ENV LEVEL_NAME world
ENV ENABLE_QUERY true
ENV ALLOW_FLIGHT true
ENV ANNOUNCE_PLAYER_ACHIEVEMENTS true
ENV SERVER_PORT 25565 -->
                          </pre>
                    </div>
                    <div class="" ng-if="currentTab == 2">
                        <table class="table-hover cs-table-small " >
                          <thead>
                                <th  width="20%">构建ID</th>
                                <th  width="20%">构建版本</th>
                                <th  width="20%">提交人</th>
                                <th  width="30%">提交时间</th>
                                <th  width="10%"></th>
                          </thead>
                          <tbody>
                                <tr ng-repeat="item in image">
                                    <td ng-bind="item._id"></td>
                                    <td ng-bind="item.tag_name"></td>
                                    <td ng-bind="item.user_id"></td>
                                    <td ng-bind="item.create_time | date:'yyyy-MM-dd hh:mm:ss'"></td>
                                    <td><div class="operation"><span class="glyphicon glyphicon-cog" ng-click="showMenu($event)"></span></div></td>
                                </tr>
                          </tbody>
                        </table>

                    </div>
                </div>
                <div class="row well">
                        <div class="title"><h4>编辑记录</h4></div>
                          <table class="table-hover cs-table-small " >
                              <thead>
                                    <th  width="30%">编辑时间</th>
                                    <th  width="15%">编辑人</th>
                                    <th  width="55%">编辑内容</th>
                              </thead>
                              <tbody>
                                    <tr ng-repeat="n in [0,1,2,3,4]">
                                        <td>2016-01-27 18:30:04</td>
                                        <td>dx</td>
                                        <td>添加了环境变量PATH</td>
                                    </tr>
                              </tbody>
                            </table>
                </div>
        </div>
        <div class="col-md-4">
                <div class="row well">
                        <div class="title"><h4>docker-centos</h4></div>
                            <div class="version-detail">
                                <span>版本:</span>
                                <span>
                                    <select ng-model="currentTag" ng-change="changeTag()">
                                        <option ng-repeat="item in image" ng-bind="item.tag_name" value="{{item.tag_name}}"></option>
                                    </select>
                                    <!-- <select ng-model="vm.showTag[$index]" ng-options="tag as tag.tag_name for tag in repository.tags"></select> -->
                                </span>
                            </div>
                            <div class="version-detail">
                                <span>属性:</span>
                                <span ng-bind="image[0].permission"></span>
                            </div>
                            <div class="version-detail">
                                <span>大小:</span>
                                <span ng-bind="tag.size | imageSize"></span>
                            </div>
                            <div class="version-detail">
                                <span>下载:</span>
                                <span ng-bind="tag.pull_num"></span>
                            </div>
                             <div class="version-detail">
                                    <span>拉取镜像:</span>
                            </div>
                            <div class="pull-image-input">
                                    <span class="glyphicon glyphicon-copy" ngclipboard data-clipboard-text="docker pull {{tag.repository}}:{{tag.tag_name}}"></span>
                                    <input class="form-control" value="docker pull {{tag.repository}}:{{tag.tag_name}}" readonly="readonly"></input>
                            </div>
                </div>
        </div>
</div>
<!-- here need to change directive -->
<cs-image-menu image="" version="" namespaces="vm.items" type="tag"></cs-image-menu>