<section class="well">
    <div class="form-inline r-p30">
      <div class="form-group">
        <input class="form-control input-sm"  placeholder="Image" ng-model="vm.search.searchByImage"/>
        <div class="input-group ">
          <span >
            <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" >{{vm.permissionType}} <i class="icon icon-chevron-down"></i></button>
            <ul class="dropdown-menu" role="menu">
              <li role="presentation" class="dropdown-header">
                Permission Type: 
              </li>
              <li ng-repeat="item in vm.permission" ng-click="vm.searchByPermission(item)">
                <a href="#" >{{item}}</a>
              </li>
            </ul>
          </span>
        </div>
        <div class="input-group ">
            <span >
              <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">{{vm.namespace}} <i class="icon icon-chevron-down"></i></button>
              <ul class="dropdown-menu" role="menu">
                <li role="presentation" class="dropdown-header">
                  Select an Namespace:
                </li>
                  <li ng-repeat="item in vm.namespaces" ng-click="vm.searchByNamespace(item)">
                    <a href="#" >{{item}}</a>
                  </li>
              </ul>
            </span>
        </div>
        <button type="button" class="btn btn-sm btn-danger " ng-click="vm.doClear()"> Clear All</button>
        <button type="button" class="btn btn-sm btn-primary" ng-click="vm.resort()"> Search</button>
      </div>
    </div>
  <table class="table table-hover cs-table " >
    <thead>
          <th  width="15%"><cs-sortable-th label='vm.title.image' current='vm.current' change-resort='vm.resort()'></cs-sortable-th></th>
          <th  width="15%"><cs-sortable-th label='vm.title.permission' current='vm.current' change-resort='vm.resort()'></cs-sortable-th></th>
          <th  width="15%"><cs-sortable-th label='vm.title.version' current='vm.current' change-resort='vm.resort()'></cs-sortable-th></th>
          <th  width="15%"><cs-sortable-th label='vm.title.pushDate' current='vm.current' change-resort='vm.resort()'></cs-sortable-th></th>
          <th  width="15%"><cs-sortable-th label='vm.title.pullNum' current='vm.current' change-resort='vm.resort()'></cs-sortable-th></th>
          <th  width="15%"><cs-sortable-th label='vm.title.namespace' current='vm.current' change-resort='vm.resort()'></cs-sortable-th></th>
          <th  width="10%">&nbsp;</th>
    </thead>
    <tbody>
          <tr ng-repeat="repository in vm.repositories">
              <td>{{repository._id}}</td>
              <td>{{repository.permission}}</td>
              <td>
                  <!-- sorry,because of nest circle . I dont have a good way to deal with tags well yet  except use $index-->
                  <select ng-model="vm.showTag[$index]" ng-options="tag as tag.tag_name for tag in repository.tags"></select>
              </td>
              <td>{{vm.showTag[$index].create_time | date:'yyyy-MM-dd hh:mm:ss'}}</td>
              <td>{{vm.showTag[$index].pull_num}}</td>
              <td>{{repository.namespace}}</td>
              <td><div class="operation"><span class="glyphicon glyphicon-cog" ng-click="vm.showMenu($event, $index)"></span></div></td>
              </tr>
    </tbody>
  </table>
  <!-- transmit current operation image and version to cs-image-menu -->
  <cs-image-menu image="vm.selectImage" version="vm.selectTag" namespaces="vm.namespaces"></cs-image-menu>
</section>
