<!-- <div class="container">

      <div class="row" ng-if="vm.hasNew">
            <div class="col-md-6 dashwell">
                <h1>Upgrades available</h1>
                <p>You'd better update to the latest version of Docker Trusted Registry.</p>
            </div>
            <div class="col-md-6 dashwell">
                <div>Current version: {{vm.version.currentVersion}}</div>
                <div>Latest version: {{vm.version.newVersion}}</div>
                <div><a type="button" class="btn btn-danger">Update</a></div>
            </div>
      </div>
      
      <div class="row" ng-if="vm.noNew">
            <div class="col-md-6 dashwell">
                <h1>No upgrades available</h1>
                <p>You're running the latest version of Docker Trusted Registry.</p>
            </div>
            <div class="col-md-6 dashwell">
                <label>Current version: {{vm.version.currentVersion}}</label>
            </div>
      </div>
</div> -->

<section class="well setting-well">
      <div class="setting-input">
            <span class="setting-label">当前版本:  </span>
            <span >V1.0 &nbsp&nbsp</span>
            <button class="btn btn-default setting-save setting-btn">版本升级</button>
      </div>
</section> 