<div class="container">
        <div class="gap"></div>
        <div class="row">
                <div class="col-md-8" ng-controller="DashboardStatisticController">
                        <div class="row well">
                                 <!-- basic overview -->
                                 <!-- <highchart id="statisticChart" class="high-chart" config="chartConfig"></highchart> -->
                                <div class="col-md-4">jimage</div>
                                <div class="col-md-4">namespace</div>
                                <div class="col-md-4">user</div>
                        </div>
                        <div class="row well">
                                <!-- logs overview -->
                                <div class="title"><h4>日志监控 </h4><a ui-sref="home.settings.logs" type="button">更多</a></div>
                                <cs-latest-logs logs="vm.logs"></cs-latest-logs>
                        </div>
                </div>
                <div class="col-md-4">
                        <div class="row well">
                                <!-- sysinfo overview -->
                                <div class="title"><h4>资源使用</h4></div>
                                <cs-sysinfo-chart  label="vm.label[0]" data="vm.data[0]"></cs-sysinfo-chart>
                                <cs-sysinfo-chart  label="vm.label[1]" data="vm.data[1]"></cs-sysinfo-chart>
                                <cs-sysinfo-chart  label="vm.label[2]" data="vm.data[2]"></cs-sysinfo-chart>                   
                        </div>
                        <div class="row well">
                                <!-- network overview -->
                                <div class="title"><h4>网络状态</h4></div>
        <!--                         <div  ng-controller="throughputiopscontroller as vm" ng-init="vm.tabIndex='iops'">
                                        <div class="row">
                                            <ul id="myTab" class="nav nav-tabs">
                                                <li class="active"><a href="#IOps" data-toggle="tab" ng-click="vm.tabClick('iops')">IOps</a></li>
                                                <li><a href="#throughput" data-toggle="tab" ng-click="vm.tabClick('throughput')">吞吐量</a></li>
                                            </ul>
                                            <select id="selecteth" ng-model="vm.selected" ng-options="s.name as s.value for s in vm.modle" ng-change="vm.selectedChange()" class="selected"> </select>
                                        </div>
                                        <div id="throughputiopscontainer" ></div>
                                </div> -->
                        </div>
                </div>
        </div>
</div>



