.gap {padding-top:30px;}
.row {
     >.title {
            color:$bgDefault;
            text-align: left;
            padding-bottom: 10px;
            position: relative;
            > a {
                position: absolute;
                right:0;
                top:5px;
                color:$bgDefault;
        }
    }
    > .high-chart {
        height: 170px;
        width:460px;
        background-color: #f5f5f5;
    }
    .selected{
            z-index: 999;
            position: absolute;
            top:140px;
            right:20px;
        }
}

