 @import "../styles/variables";
 .container{
    > .gap {
        padding-top:50px;
    }
    > .row {
        .dashwell {
            /*background-color: #f5f5f5;*/
            /*border: 1px solid #e3e3e3;*/
            /*border-radius: 4px;*/
            /*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;*/
            margin-bottom: 20px;
            min-height: 20px;
            padding: 19px;
            >.title {
                text-align: center;
                position: relative;
                > h4 {
                    color: $bgDefault;
                }
                > a {
                    position: absolute;
                    right:0;
                    top:0;
                    color:$bgDefault;
                }
             }
            >  .pie-chart {
                position: relative;
                display: inline-block;
                width: 120px;
                height: 120px;
                margin-top: 20px;
                margin-bottom: 10px;
                margin-left: 30px;
                text-align: center;
                canvas {
                    position: absolute;
                    top: 0;
                    left: 0;
                }
                > span {
                    display: inline-block;
                    line-height: 120px;
                    z-index: 2;
                }
                > div {
                  padding-top: 5px;
                }
                > span::after {
                      content: '%';
                      margin-left: 0.1em;
                      font-size: .8em;
                  }
            }
            > .gap-top {
                border-top: 1px dotted $bgDefault;
                width: 50%;
                margin: 0  25% 10% 25%;  
            }
            > ul {
                    padding-left: 20px;
                 > li {
                    list-style-type: none;
                    padding-bottom: 10px;
                    > .head {
                        background-color: #e0f0f0;
                        padding-bottom: 1px;
                        > .info {color:#5bc0de; border:1px solid  #5bc0de}
                        > .warning {color:#f0ad4e;border:1px solid  #f0ad4e}
                        > .error {color:#d9534f;border:1px solid  #d9534f}
                        > span:nth-child(1){padding:0 5px;}
                        > span:nth-child(2){padding:0 2px 0 20px;}
                        > span:nth-child(3){padding:0 5px;}
                    }
                   > .detail {padding-left: 24px;}
                }
            }
        }
    }
}